.page-id-22165 .p-60-cont { width:100% !important; padding:0 !important; }
.page-id-22165 #primary { padding:0 !important; }
.page-id-22165 .container { width:100%; }
.page-id-22165 #content .entry-content p:empty {display:none;}
.page-id-22165 #content .entry-content h1 { font-size: 48px;line-height:50px;color: #11210e;font-weight: 700; letter-spacing: 2.3px; }
.page-id-22165 #content .entry-content h2 {font-size: 40px;line-height: 45px;color: #11210e;font-weight: 700; }
.page-id-22165 #content .entry-content h2.content-left {text-align:left;}
.page-id-22165 #content .entry-content h2.content-left::after {margin-left:auto;right: auto;}
.page-id-22165 #content .entry-content h3 { font-size: 32px;line-height: 38px;color: #000000;font-weight: 700; }
.page-id-22165 #content .entry-content p { font-family: Poppins,Arial, Helvetica, sans-serif; font-size:18px; line-height:29px; margin: 15px 0 15px 0; }
.page-id-22165 #content .entry-content .content-padding {padding: 90px 45px;}
.page-id-22165 #content .entry-content .content-padding-vert {padding: 90px 0;}
.page-id-22165 #content .entry-content .content-padding-hor {padding: 0 90px;}
.page-id-22165 #content .entry-content .content-center {margin:0 auto; text-align:center;}
.page-id-22165 #content .entry-content .content-left {text-align:left;}
.page-id-22165 #content .entry-content .content-right {text-align:right;}
.page-id-22165 #content .entry-content .push-t {padding-top:30px;}
.page-id-22165 #content .entry-content .push-b {padding-bottom:30px;}
.page-id-22165 #content .entry-content .push-r {padding-right:30px;}
.page-id-22165 #content .entry-content .push-l {padding-left:30px;}
.page-id-22165 #content .entry-content .winning_section h2.title {padding-top:90px;}
.page-id-22165 #content .entry-content p.col {margin:0 auto;}
.page-id-22165 #content .entry-content .btn {color:white;}
.page-id-22165 #content .entry-content ul { margin:0; }
.page-id-22165 #content .entry-content ul.nobullet {margin-left:45px;}
.page-id-22165 #content .entry-content .winning_section ul.col {margin:0 auto; display:inline-block;}
.page-id-22165 #content .entry-content .intro_icon ul.inter_anchor > li img, .page-id-22165 #content .entry-content ul.inter_anchor > li > img { margin-bottom:5px; }
.page-id-22165 #content .entry-content .intro_icon ul.inter_anchor > li a {color:white;}
.page-id-22165 #content .entry-content .intro_icon ul.inter_anchor > li a:hover {color:black;}
.page-id-22165 #content .entry-content ul.percent h2 { font-size:52px; }
.page-id-22165 #content .entry-content ul.percent h2, .page-id-22165 #content .entry-content ul.percent p {color:white;}
.page-id-22165 #content .entry-content ul.nolist.content-center li img { margin-bottom: 5px; }

.page-id-22393 .p-60-cont { width:100% !important; padding:0 !important; }
.page-id-22393 #primary { padding:0 !important; }
.page-id-22393 .container { width:100%; }
.page-id-22393 #content .entry-content p:empty {display:none;}
.page-id-22393 #content .entry-content h1 { font-size: 48px;line-height:50px;color: #11210e;font-weight: 700; margin: 0 0 30px 0; padding: 0 0 30px 0; letter-spacing: 2.3px; }
.page-id-22393 #content .entry-content h2 {font-size: 40px;line-height: 45px;color: #11210e;font-weight: 700; margin: 0 0 30px 0; }
.page-id-22393 #content .entry-content h2.content-left {text-align:left;}
.page-id-22393 #content .entry-content h2.content-left::after {margin-left:auto;right: auto;}
.page-id-22393 #content .entry-content h3 { font-size: 32px;line-height: 38px;color: #000000;font-weight: 200; }
.page-id-22393 #content .entry-content p { font-family: Poppins,Arial, Helvetica, sans-serif; font-size:18px; line-height:29px; margin: 15px 0 15px 0; }
.page-id-22393 #content .entry-content .content-padding {padding: 90px 45px;}
.page-id-22393 #content .entry-content .content-padding-vert {padding: 90px 0;}
.page-id-22393 #content .entry-content .content-center {margin:0 auto; text-align:center;}
.page-id-22393 #content .entry-content .content-left {text-align:left;}
.page-id-22393 #content .entry-content .content-right {text-align:right;}
.page-id-22393 #content .entry-content .push-t {padding-top:30px;}
.page-id-22393 #content .entry-content .push-b {padding-bottom:30px;}
.page-id-22393 #content .entry-content .push-r {padding-right:30px;}
.page-id-22393 #content .entry-content .push-l {padding-left:30px;}
.page-id-22393 #content .entry-content .winning_section h2.title {padding-top:90px;}
.page-id-22393 #content .entry-content p.col {margin:0 auto;}
.page-id-22393 #content .entry-content .btn {color:white;}
.page-id-22393 #content .entry-content ul { margin:0; }
.page-id-22393 #content .entry-content ul.nobullet {margin-left:45px;}
.page-id-22393 #content .entry-content .icon_section ul > li > img { margin-bottom:5px; }
.page-id-22393 #content .entry-content .winning_section ul.col {margin:0 auto; display:inline-block;}
.page-id-22393 #content .entry-content .intro_icon ul.inter_anchor > li img, .page-id-22393 #content .entry-content ul.inter_anchor > li > img { margin-bottom:5px; }
.page-id-22393 #content .entry-content .intro_icon ul.inter_anchor > li a {color:white;}
.page-id-22393 #content .entry-content .intro_icon ul.inter_anchor > li a:hover {color:black;}
.page-id-22393 #content .entry-content ul.percent h3, .page-id-22393 #content .entry-content ul.percent p {color:white;}
.page-id-22393 #content .entry-content ul.nolist.content-center li img { margin-bottom: 5px; }
.page-id-22393 #content .entry-content ul.percent h2 { font-size: 52px; }
.page-id-22393 #content .entry-content .no-push { margin:0; padding:0; }
.page-id-22393 #content .entry-content .testimonal-cnt   {text-align: center;}
.page-id-22393 #content .entry-content .testimonal-cnt p  {color: #fff;font-size: 22px;line-height: 34px;font-weight: 500;margin: 0;padding: 0 0 31px 0;letter-spacing: 0.5px;text-align:center;}
.page-id-22393 #content .entry-content .testimonal-cnt p span{display: inline-block;font-weight: 700;color: #ffffff;font-size: 22px;}
.page-id-22393 #content .entry-content .testimonal-cnt span  { font-size: 16px; line-height: 20px;  color: #faccbc; font-weight:300;}
.page-id-22393 #content .entry-content .rating  {text-align: center;width: 237px;margin: 0 auto;display: block;position: relative;padding: 94px 0 57px 0;}
.page-id-22393 #content .entry-content .rating:after  {content: '';position: absolute; top: 0; left: 0; right: 0;  margin: 0 auto; background: url(../images/img3.png) no-repeat center; width: 72px; height: 72px; background-size: contain;}
.page-id-22393 #content .entry-content .rating ul li {display: inline-block;padding: 0 3px 0 4px;list-style-type:none;}
.page-id-22393 #content .entry-content .rating ul li a {width:37px;height:34px;background: url(../images/staricon.png) no-repeat center;display: inline-block;background-size: contain;}
.page-id-22393 #content .entry-content .tesimonal-in .slick-next  {width: 50px;right: -49px;height: auto;-webkit-transform:translateY(-50%);-o-transform:translateY(-50%);top:50%;-ms-transform:translateY(-50%);transform: translateY(-50%);}

/*************** GLM: PAGE LAYOUT STYLE ADJUSTMENTS *******************/
.glm-layouts .accidents p { margin-bottom:0px; }

.form-title-rvw { background-color:#fff;color:#fff;text-align:center;padding:20px 0; width: 80% !important; }
.form-title-rvw h3 { font-size:25px;font-family:Poppins,Arial, Helvetica, sans-serif;font-weight:600;color:#fff;text-transform:uppercase;margin:0;line-height:26px;letter-spacing:1px; width: 80% !important; text-align:center !important;}
.form-title-rcw h4 { font-size:14px;font-family:"Open Sans",Arial, Helvetica, sans-serif;font-weight:400;color:#fff;margin:0 0 0 0;padding:0;display:none; width: 80% !important; text-align:center !important;}
/*======== reset.css is here =========*/
.glm-layouts table {	border-collapse:collapse; border-spacing:0;}
.glm-layouts fieldset, .glm-layouts img{border:0;max-width: 100%;display: block;height: auto;}
address,caption,cite,code,dfn,th,var {font-style:normal; font-weight:normal; }
.glm-layouts ol, .glm-layouts ul { list-style:none;margin: 0 ; padding: 0;}
caption,th {text-align:left;}
.glm-layouts h1,.glm-layouts h2,.glm-layouts h3,.glm-layouts h4,.glm-layouts h5,.glm-layouts h6 {font-size:100%;font-weight:bold;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}
.clear{clear:both; font-size:1px;line-height:1px; display:block; height:0;}
.clearfix:after{content:"";display:block;clear:both;}
.clearfloat {float:none;margin:0 auto;}
.last {margin:0 !important;}
.pad_last{padding:0 !important;}
.no_bg {background:none !important;}
.no_bor{border:0 none !important; }
.glm-layouts input,.glm-layouts textarea { -webkit-appearance:none; border-radius:0px; outline:none;}
.glm-layouts p {margin: 0;}
/********************************************************/
.glm-layouts a { color: #818383; text-decoration:none; outline:0 none !important; }
.glm-layouts a:hover, .glm-layouts a:focus {color: #fff;text-decoration:none;outline:0 none !important;}
.glm-layouts h1.by {font-size: 48px;line-height:50px;color: #000000;font-weight: 700;}
.glm-layouts h2.by {font-size: 40px;line-height: 45px;color: #000000;font-weight: 700;}
.glm-layouts h3 {font-size: 36px;line-height: 45px;color: #000000;font-weight: 200;}
.glm-layouts h4 {font-size: 32px;line-height: 42px;color: #1f2434;font-weight: 400;}
.glm-layouts h5 {font-size: 24px;line-height: 26px;color:  #555555;font-weight: 500;}
.glm-layouts h6 {font-size: 18px; line-height: 26px; color: #000000; font-weight: 700;}
.glm-layouts p {font-family: 'Open Sans', sans-serif;font-size: 18px;line-height: 30px;color:  #000000;font-weight: 400;}
/*---------------------------------------------------*/

/*--Main Content Starts--*/
.wrapper{width:100%; margin: 0 auto;}
.main_content{ width: 90%; margin: 0 auto; }
.main_left{width: 70.5%;display: inline-block;padding: 24px 0 30px 48px;float: left;}
.main_left_up{padding: 0 93px 0 0;}
.main_left_down{padding: 66px 0 0;}
.main_right{width: 29.5%;display: inline-block;float: left;}
.intro_section {text-align:center; margin:0 auto;}
.content-padding {padding: 90px 45px;}
.content-padding-vert {padding: 90px 0;}
.content-padding-hor {padding: 0 90px;}
.content-center {margin:0 auto; text-align:center;}
.content-right {text-align:right;}
.content-left {text-align:left;}
.int_container {width:85%; margin:0 auto; padding: 50px 0;}

.bg-img { position: absolute; z-index: -1; height: 100% !important; object-fit: cover; }
.bg-grey {background-color:#efefef;}
.bg-orange {background-color:#f95c28;}
.bg-green-one {background-color:#e3eae2;}
.bg-green-two {background-color:#d7ded6;}
.bg-green-three {background-color:#d6e9d3;}
.bg-green-four {background-color:#293325}
.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6,  .dark p, .dark a, .dark select {color:white !important;}
.dark select option {color:black;}

.push-t {padding-top:30px;}
.push-b {padding-bottom:30px;}
.push-r {padding-right:30px;}
.push-l {padding-left:30px;}
.no-push {padding:0;margin:0;}

.inline {display:inline-block;}
.flex {display:flex;}
.one {width:100%;}
.two {width:50%;}
.three {width:33.333%;}
.four {width:25%;}
.five {width:20%;}
.half {width:45%; display: inline-block; vertical-align:top; margin: 0 25px;}
.one-third {width:33.333%; display:inline-block;vertical-align:top; }
.two-third {width:66.666%; display:inline-block;vertical-align:top; }
.one-fourth {width:25%; display:inline-block;vertical-align:top; }
.three-fourth {width:75%; display:inline-block;vertical-align:top; }

.spacer-bar {width:200px; display:block; margin:0 auto; text-align:center; background:#f26522; height: 10px; margin-bottom: 30px; margin-top: 30px; }

.landingpg-wrapper .btn { display: inline-block; font-size: 18px; min-width: 400px; padding: 15px 30px; color: #ffffff; border: 5px solid #386924; text-transform: uppercase; font-weight: 600; background: #293325; text-align: center; -webkit-transition: 0.3s ease-in-out; -o-transition: 0.3s ease-in-out; -ms-transition: 0.3s ease-in-out; transition: 0.3s ease-in-out; letter-spacing: 0.9px; border-radius: 0px; margin-top:60px; }
.landingpg-wrapper .btn:hover {color: #f6faf5; background: #f95c28; border-color: #c03102;}

/*--content_section Starts--*/
.content_section { text-align: center; margin: 0 auto; position:relative; }
.content_section h1 { position: relative; margin: 0 0 25px 0; padding: 0 0 25px 0; font-size: 62px; }
.content_section h2 { text-align:center; position:relative; font-size:46px; }
.content_section h3 { font-size:32px; text-transform:capitalize; text-align:center; margin-top:35px; }

/*--winning_section Starts--*/
.winning_section { text-align: center; margin: 0 auto; position:relative; }
.winning_section .intro_content {text-align:center; margin:0 auto;}

.winning_section h1 { position: relative; margin: 0 0 25px 0; padding: 0 0 25px 0; font-size: 62px; }
.winning_section h1:after{ content: " ";width: 212px;height: 10px;background: #f26522;position: absolute;bottom: 0;left: 0;right:0;margin: 0 auto; }
.winning_section h2{ text-align:center; position:relative; padding: 0 0 14px; font-size:46px; }
.winning_section h2.title {padding-top:90px;}
.winning_section h3 { font-size:32px; text-transform:capitalize; text-align:center; margin-top:35px; }
.winning_section h4 { font-weight:lighter; }
.winning_section h4.subtitle { padding-bottom:45px; }
.winning_section h5 {line-height: 34px;letter-spacing: -0.1px;line-height: 26px;padding: 18px 0 10px 0;font-weight:600;font-size:24px;color:#828280;}
.winning_section h5.intro {padding-top:0;padding-bottom:60px;}
.winning_section p span{display: block;padding: 30px 0 0;}
.winning_section p.col {margin:0 auto;padding: 0 0 30px;}
.winning_section ul.col {margin:0 auto; display:inline-block;}
.winning_section .text_block p { padding: 10px 0; }

.winning_section .txt-standout { width: 90%; margin: 0 auto; margin-top: 35px; margin-bottom: 25px; }
.winning_section .text_block ul { list-style-type: square; padding-left:30px; }

/*--list_styles Starts--*/
.icon_section ul { position:relative; }
.icon_section ul > li > img { width:100px; height:100px; display:block; margin:0 auto; margin-bottom:5px; }
.icon_section ul > li p { font-weight:normal; color:black; line-height:30px; }

ul.full-width > li { list-style-type:none; text-align:left; text-align:center; }
ul.full-width > li img { display:inline-block; margin-right:30px; vertical-align:top; }
ul.full-width > li p { width:80%; display:inline-block; text-align:left; vertical-align:top; }
ul.full-width > li p a { font-weight:bold; }

ul.flex { width:100%; margin: 0 auto; padding:0; list-style-type:square; color:#999999; text-align:center; }
ul.flex > li { display: inline-block; text-align:center; vertical-align:top; padding:25px; line-height:26px; }
ul.flex > li.padd { padding: 0 0 0 54px; }
ul.flex > li p { text-align:center; }
ul.flex > li > a { font-size: 18px;line-height: 16px;font-weight: 500; color:black; font-weight:bold; padding: 0 0 0 6px;letter-spacing: 1.4px;text-transform:uppercase; }
ul.flex > li > br { display:none; content:''; }

ul.hover > li { font-weight:lighter; border-right:1px solid white; }
ul.hover > li { border-right:1px solid white; }
ul.hover > li:last-child { border-left:1px solid white; }
ul.hover > li:hover { background-color:#d6e9d3; }
ul.hover > li:hover a { color:black !important; }

ul.percent h2 { font-size: 52px; }
ul.percent .spacer-bar { width: 100px; display: block; text-align: center; background:#d03603; height: 10px;  margin: 0 auto; margin-bottom: 15px; margin-top: 15px; }
ul.percent h3, ul.percent p { color:white; }

ul.nolist { list-style-type:none; }
ul.nolist li { padding:15px; }
ul.nolist.content-center li img { margin: 0 auto; text-align: center; display: block; width: 100px; height: 100px; margin-bottom: 5px; }

/*--tabs_section Starts--*/
.tabs_section { margin:0 auto; text-align:center; position:relative; }
.tabs { max-width: 90%; float: none; list-style: none; padding: 0; margin: 25px auto; }
.tabs:after { content: ''; display: table; clear: both; }
.tabs .tab-main { width:100%; float:left; background:#edf3ec; border:1px solid #d7ded6; }

.tabs input[type=radio] { display:none; }
.tabs label { display: block; float: left; width: 100%; color: #ccc; font-size: 30px; font-weight: normal; text-decoration: none; text-align: center; line-height: 2; cursor: pointer; -webkit-transition: all 0.5s;  transition: all 0.5s; }
.tabs h6 { text-align:left; text-align: left; padding-left: 25px; text-transform:uppercase;}
.tabs .tab-content p {margin-bottom: 12px;}
.tabs .tab-content p, .tabs .tab-content ul li { font-size:18px; }
.tabs .tab-content ul li

.tabs>label:hover { color: #f25420; box-shadow: inset 0 4px #f25420; }
.tab-content { display: none; width: 100%; float: left; padding: 0 25px 25px; box-sizing: border-box; border-top:1px solid #d7ded6; }
.tab-content * { -webkit-animation: scale 0.7s ease-in-out; -moz-animation: scale 0.7s ease-in-out; animation: scale 0.7s ease-in-out; }
.tabs [id^="tab"]:checked + div label { background: #FFF; color:#f25420; }

#tab1:checked ~ #tab-content1, #tab2:checked ~ #tab-content2, #tab3:checked ~ #tab-content3, #tab4:checked ~ #tab-content4, #tab5:checked ~ #tab-content5, #tab6:checked ~ #tab-content6, #tab7:checked ~ #tab-content7, #tab8:checked ~ #tab-content8, #tab9:checked ~ #tab-content9 { display: block; }

@keyframes scale {
  0% { height:0; opacity: 0; }
  100% { height:100%; opacity: 1; }
}

/*--our_results Starts--*/
.our_results{padding: 35px 0;}
.our_results h2{padding: 15px 0 20px;position: relative;}
.our_results h2:after{content: " "; width: 116px; height: 6px; background: #f26522;position: absolute; bottom: 0; left: 0;}
.our_results h5{ padding: 18px 0;}
.tab_section{padding: 30px 0;}
.million_tabs{width: 22.5%;float: left;display: inline-block;padding: 0 62px 0 0;}
.million_tabs ul{margin: 20px 0 0;border-right: 1px solid #cccccc;}
.million_tabs ul li{padding: 0px 0 15px;}
.million_tabs ul li a{font-size: 16px;line-height: 18px;color: #555555;font-weight: 300;display: inline-block;padding: 10px 10px;width: 100%;cursor: pointer;}
.million_tabs ul li a.active{background: #f26522;color: #ffffff;}

.tab_cnt{float: left;width: 77.5%;padding: 20px 0 0 0;}
.tab_cnt ul{ border-bottom: 1px solid #cccccc;}
.tab_cnt ul li{float: left;display: inline-block;}
.tab_cnt ul li strong{font-size: 60px; line-height: 62px; font-weight: 700; color: #f26522;}
.tab_cnt ul li strong span{font-size: 25px; line-height: 27px; color: #555555; font-weight: 700;}
.tab_cnt ul li.see_all{float: right;display: inline-block;padding: 18px 0 10px;width: 28.5%;}
.tab_cnt ul li.see_all a{font-size: 16px;line-height: 18px;font-weight: 300;color: #555555;display:  inline-block;width: 100%;text-align:  center;padding: 15px 0 10px;background: #eeeeee;border: 1px solid #dddddd;}
.tab_cnt p{padding: 20px 0; font-size:17px; line-height:28px;}

/*--questions Starts--*/
.questions{padding: 50px 0;}
.questions > ul{padding: 20px 0 0;}
.questions > ul > li{display: inline-block;width: 48.5%;float: left;}
.questions > ul > li.full_tab{width: 51.5%;}
.questions > ul > li a{font-size: 22px;line-height: 24px;color: #000000;font-weight: 700;padding: 13px 18px;display:  inline-block;width: 100%;background:  #f5f5f5;cursor: pointer;}
.questions > ul > li a.active{background: #dedede;}
.questions > ul > li > a span{display: inline-block;font-size: 26px;line-height: 30px;font-weight: 400;color: #dedede;background: #777777;padding: 2px 10px;border-radius: 100%;vertical-align: middle;margin: 0 10px 0 0;width: 35px;height: 35px;}
.question_content{padding: 40px 0 25px;background: #dedede;}
.ques_cnt{padding: 10px 28px 30px;}
.ques_cnt p{ font-size:17px; line-height:28px;}
.ques_cnt p span{display:  block; padding: 30px 10px 0 0;}
.ques_cnt ul{padding: 44px 0 0;}
.ques_cnt ul li{display: inline-block;width: 23%;margin: 0 16px 0 0;float:  left;}
.ques_cnt ul li a{font-size: 16px;line-height: 18px;font-weight: 300;color: #555555;display:  inline-block;width:  100%;padding: 12px 0;text-align:  center;background: #eeeeee;}

/*--sub_topic_section Start--*/
.section-sub-topic-index {padding: 75px 0 100px 0 !important;}
.section-sub-topic-index > .et_pb_row {padding: 0 !important;}
.section-sub-topic-index .subtopic-select-container { padding: 25px 0; }
.section-sub-topic-index h2 {margin:0 !important; padding: 0 !important;}
.section-sub-topic-index h5 {}
.section-sub-topic-index .et_pb_widget select { height: 40px; padding: 0 15px; font-weight: bold; }
.section-sub-topic-index p {padding-top:25px;}

/*--fee_consulation Starts--*/
.fee_consulation{padding: 35px 0;}
.fee_consulation h2{padding: 15px 0 21px;position: relative;}
.fee_consulation h2 span{display: block;margin: -5px 0 0;}
.fee_consulation h2:after{content: " "; width: 116px; height: 6px; background: #f26522;position: absolute; bottom: 0; left: 0;}
.fee_consulation h5{ padding: 18px 0; letter-spacing: -0.1px;}
.fee_consulation p{padding: 21px 0; font-size:17px; line-height:28px;}
.fee_consulation p > a{color: #f26522; text-decoration: underline;}
.fee_consulation h5.scan{color: #f26522;width: 82.5%;margin:  0 auto;padding: 38px 80px 40px 0;font-weight: 500;letter-spacing: 0px;line-height: 30px;position: relative;}
.fee_consulation h5.scan:after{content: " ";width: 6px;height: 60px;background: #f26522;position: absolute;top: 50%;left: -35px;transform: translateY(-50%);-webkit-transform: translateY(-50%);-o-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);}
.fee_consulation > a{font-size: 16px;line-height: 18px;color: #ffffff;display: inline-block;background: #f26522;margin: 31px 0 0;padding: 15px 0 11px;width: 41%;text-align:  center;}

/*--testimonials Starts--*/
.testimonial_main{background: #eeeeee;position: relative;}
.testimonial_in{border-top: none;}
.testimonials{position: relative;padding: 0px 0 98px;width: 78%;margin: 0 auto;}
.testimonials figure{position: static;top: 0;left: 0;width: 100%;margin: 0px auto 0;}
.testimonials figure img{margin: 0 auto;}
.testimonials ul{text-align:  center;padding: 32px 0;}
.testimonials ul li{display: inline-block;padding: 0 7px;}
.testimonials ul li i{font-size: 35px;line-height: 25px;color: #f26522;font-family: FontAwesome;}
.testimonials p{font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;font-size: 22px;line-height: 33px;color: #000000;font-weight: 500;width: 85%;margin:  0 auto;text-align:  center;padding: 28px 0;letter-spacing: 0px;}
.testimonials p a{font-weight: 700; color: #f26522;}
.testimonials p span{display: block;}
.testimonials > span{font-size: 16px;line-height: 18px;font-weight: 300;color: #8a8a8a;display: inline-block;width: 100%;text-align: right;padding: 10px 4px;letter-spacing: 0.1px;}
.testimonial_main.slick-dotted.slick-slider{margin: 0;}
.testimonial_in{width: 78%;display: block;margin: 0 auto;}
.testimonial_main:before{content: '';position: absolute;left: 0px;top: 0px;width: 100%;height: 26px;background: #ffffff;}
.testimonial_in .slick-dots{bottom: 40px;}
.testimonial_in .slick-dots li button:before{border: 2px solid #f26522;border-radius: 100%;background:transparent;color: #ffffff;width: 12px;height: 12px;opacity: 1;}
.testimonial_in .slick-dots li.slick-active button:before{content: " ";width: 12px;height: 12px;border-radius: 100%;background: #f26522;}
.testimonial_in .slick-dots li{margin: 0 15px 0 3px;width: 12px;height: 12px;}
.testimonial_in .slick-dots li button{width: 12px;height: 12px;}

/*--claim_section Starts--*/
.claim{padding: 30px 0 20px;}
.claim h2{padding: 15px 0 30px;position: relative;}
.claim h2:after{content: " "; width: 116px; height: 6px; background: #f26522;position: absolute; bottom: 0; left: 0;}
.claim h5{padding: 18px 0; letter-spacing: -0.1px;}
.claim ul{margin: 0 -48px;padding: 50px 0 16px;}
.claim ul li{display: inline-block;width: 50%;float: left;padding: 0 48px;}
.claim ul li p{ padding: 0 0 30px; letter-spacing: 0;}
.claim ul li p a{color: #f26522;text-decoration: underline;}

/*--choose_section Starts--*/
.choose_section { text-align: center; display: flex; position:relative; }
.choose_section h2{ position: relative; margin-bottom: 20px;font-size:46px; }

.choose_rt { margin: 0; }
.choose_rt h4 { color:black;text-transform:uppercase; }
.choose_rt h5 { color:black; line-height:36px;text-align:left; padding-bottom:30px;}
.choose_rt h6 { color:#555555; }
.choose_rt p {text-align:left; color:black; }
.choose_rt ul > li {width:100%; display: inline-block; float: left;padding: 0 95px 0 0;font-size:17px;line-height:29px; color:black; }
.choose_rt ul.choose_right {display: inline-block; width: 100%; text-align:left; padding:0; }
.choose_rt ul > li > p { padding: 0 0 30px; font-size:17px; line-height:29px; font-weight:bold; }
.choose_rt ul > li > p a {color: #f26522;text-decoration: underline; }
.choose_rt ul > li { padding: 13px 0px 38px 18px;position: relative;list-style-type:none; }
.choose_rt ul > li > span { font-size: 32px; line-height: 22px; color: #c96302; font-weight: 700; letter-spacing: 0px; text-transform: uppercase; }

.choose_lt { margin: 0 auto; text-align: left; padding:90px 0; }
.choose_lt_col { padding:50px; }
.choose_lt_col h3 { font-family: serif; font-size: 26px; line-height: 30px; text-align: left; }
.choose_lt_col p { margin: 0; }
.choose_lt_col ul { list-style-type:square !important; padding:0; display: inline-block;}
.choose_lt_col ul li {text-align:left; }
ul.choose_left li { width:45%; display:inline-block;vertical-align:top; padding-bottom: 30px; }
ul.choose_left li img { width:50px; height: 50px; border:2px solid black; border-radius:50%; display:block; margin:0 auto; margin-bottom:10px; }
ul.choose_left li p { text-align:center; line-height:20px; }
ul.choose_lt_list { padding-left:30px; list-style-type:square; }
ul.choose_lt_list li { padding-bottom:10px; }

.choose_section .icon_section { width:100%; display:inline-block; padding-top:30px; }
.choose_section .icon_section { width:44%; padding: 0 2.5%; display:inline-block; vertical-align:top; padding-bottom:35px; }
.choose .icon_section img {max-width:100px;}
.choose_section .icon_section p {  }
.choose_section .ss_tag { padding:35px 0 20px; font-size:20px; }

.choose_section.img_section .choose_rt { margin-left:auto; }
.choose_section ul > li > span.number { position: absolute; z-index: -1; color: white; font-size: 120px; top: 40px; left: -5px; }

/*--accidents_section Starts--*/
.accident-container {}
.accident-container h2 {text-align:center !important; padding-bottom: 30px; font-size:36px;}
.accident-container p {text-align:left;}
.accidents{border-bottom: 1px solid #eeeeee;}
.accidents h2{padding: 20px 0 30px;position: relative;}
.accidents h2:after{content: " ";width: 116px;height: 6px;background: #f26522;position: absolute;bottom: 0;left: 0;}
.accidents h5{padding: 20px 0; letter-spacing: -0.1px;}
.accident_in{background-color:#efefef;}
.accident_lt, .accident_rt { margin: 0 4%; width: 40%; }
.accodian_acc{}
.accodian_acc h6{padding: 18px 70px;letter-spacing: 1.8px;border: 1px solid #cccccc;cursor:  pointer;position: relative;border-top: none; text-align: left; font-size: 20px; font-weight: bold;}
.accodian_acc:first-child h6{border-top: 1px solid #cccccc;}
.accodian_acc h6.active{border-bottom: none;}
.accodian_acc h6:after{content: "\f067";font-family: FontAwesome;font-size: 20px;line-height: 34px;color: #777777;position: absolute;top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);-o-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);left: 20px;}
.accodian_acc h6.active:after{content: "\f068";font-family: FontAwesome;font-size: 20px;line-height: 34px;color: #f26522;position: absolute;top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);-o-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);left: 20px;}
.accodian_acc p{padding: 8px 40px 44px 78px !important;border: 1px solid #cccccc;border-top:  none;}
.accodian_acc p a{color: #f26522;text-decoration: underline; display: block;}
.accodian_acc p span{ display:  block; padding: 30px 0;}

/*--understanding_section Starts--*/
.understanding{}
.understanding_in{background: #f5f5f5;padding: 28px 0;}
.understanding_in h2{position: relative;text-align: center;padding: 20px 0 30px;}
.understanding_in h2:after{content: " ";width: 116px;height: 6px;background: #f26522;position: absolute;bottom: 0;left: 0;right: -14px;margin: 0 auto;}
.understanding_in h5{text-align: center;padding: 18px 0 25px;}
.understanding_steps{text-align: center;padding: 143px 0 40px;}
.understanding_steps .slick-dots{position: absolute;top: -79px;padding-left: 20px;width: 672px;left: 0;right: 0;margin: 0 auto;text-align: center;}
.understanding_steps .slick-dots li button:before{    content: " ";
    width: 55px;
    height: 3px;right: -52px;left: auto;
    background: #f26522;
    position: absolute;
    top: 52%;opacity: 1;
    transform: translateY(-48%);
    -webkit-transform: translateY(-48%);
    -o-transform: translateY(-48%);
    -ms-transform: translateY(-48%);
    -moz-transform: translateY(-48%);}
.understanding_steps .slick-dots li:last-child button:before{content: none;}
.understanding_steps .slick-dots li.slick-active button{background: #f26522;color: #fff;}
.understanding_steps .slick-dots li.slick-active button:before{opacity: 1;}
.understanding_steps .slick-dots li button{font-size: 40px;line-height: 42px;color: #f26522;border: 5px solid #f26522;height: 80px;border-radius: 100%;font-weight: 700;width: 100%;font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;}
.understanding_steps .slick-dots li{width: 12%;height: auto;margin: 0 25px;}
.step_cnt{padding: 50px 0;}
.step_cnt strong{font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;font-size: 20px;line-height: 22px;color: #000000;font-weight: 700;display:  block;padding: 21px 0 0;letter-spacing: -0.1px;}
.step_cnt p{padding: 5px 60px; letter-spacing: -0.1px;}
.step_cnt p a{color: #f26522;text-decoration: underline;}

/*--contact_section Starts--*/
.contact { background: #eeeeee;padding: 30px 0 44px; }
.contact h4 {position: relative;letter-spacing: -0.7px;padding: 15px 40px 21px;}
.contact h4:after{content: " ";width: 250px;height: 6px;background: #666666;position: absolute;bottom: 0;left: 40px;}
.contact p{color: #888888;padding: 22px 70px 0 40px;line-height: 24px;margin-left: -2px;}
.contact_cnt{padding: 20px 52px 0 30px;}
.contact_cnt ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #cccccc;
}
.contact_cnt ::-moz-placeholder { /* Firefox 19+ */
  color: #cccccc;
}
.contact_cnt :-ms-input-placeholder { /* IE 10+ */
  color: #cccccc;
}
.contact_cnt :-moz-placeholder { /* Firefox 18- */
  color: #cccccc;
}
.contact_cnt ul{padding: 10px 0 0;}
.contact_cnt ul li{padding: 0 0 10px;}
.contact_cnt ul li input{width: 100%;height: 48px;font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;font-size: 18px;line-height: 20px;font-weight: 400;color: #cccccc;border: none;padding: 0 25px;}
.contact_cnt ul li textarea{width: 100%;height: 165px;font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;font-size: 18px;line-height: 20px;font-weight: 400;color: #cccccc;resize: none;border: none;padding: 16px 25px;}
.contact_cnt button{font-size: 22px;line-height: 24px;color: #ffffff;width: 100%;background: #f26522;border: none;height: 58px;padding: 20px 0;letter-spacing: -0.7px;cursor:  pointer;font-weight: 500;}
.contact_cnt button:focus{outline: none;}
.contact_cnt button:hover{opacity: 0.8;}

/*--snappy_video Starts--*/
.snappy_video{padding: 45px 40px;}
.snappy_video h4{position: relative;padding: 23px 0;letter-spacing: -0.8px;line-height: 32px;}
.snappy_video h4:after{content: " ";width: 250px;height: 6px;background: #666666;position: absolute;bottom: 0;left: 0;}
.snappy_video h4 span{display: block;}
.snappy_cnt{position: relative;}
.snappy_cnt > figure{padding: 35px 4px 20px;}
.snappy_cnt > figure > img{ width: 100%;}
.snappy_cnt a{position: absolute;display: block;top: 52%;left: 0;right: 0;transform: translateY(-50%);-webkit-transform: translateY(-48%);-o-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);}
.snappy_cnt > a > img {margin: 0 auto;}
.snappy_video p{font-size: 14px;line-height: 22px;font-weight: 300;color: #555555;padding: 8px 0;margin-left: -2px;}

/*--about_crashes Starts--*/
.about_crashes{padding: 0 40px;}
.about_crashes h4{position: relative;padding: 18px 0 22px;line-height:  32px;letter-spacing: -0.8px;}
.about_crashes h4:after{content: " ";width: 250px;height: 6px;background: #666666;position: absolute;bottom: 0;left: 0;}
.about_crashes h4 span{display: block;}
.about_crashes ul{padding: 15px 0;}
.about_crashes ul li{padding: 14px 0 5px;}
.about_crashes ul li a{font-size: 14px;line-height: 20px;font-weight: 500;color: #f26522;letter-spacing: 1.5px;}

/*--cta_section Starts--*/
.cta_section { 
}
.cta_section h4 { font-weight:lighter; line-height:50px; }
.cta_section p { padding-top:0;margin-top:0; }

/*--header_callout Section starts--*/
.cta-standout { position:relative;}
.cta-standout h3 { color:white; font-size:24px; line-height:36px; margin:0; padding:75px 0 35px; z-index:2; position:relative; }
.cta-standout .cta-bg-img { position:absolute; top:0; right:0; left:0; z-index:1; }
.cta-standout .cta-bg-img img { width:200px; vertical-align:top; }